/*
 * Global styles
 */
body {
  font-family: 'Roboto', Arial, sans-serif;
  color: #596063;
  background-color: rgb(255, 255, 255);
}

/*
 * Shared custom styles
 */
.view-header {
  padding-top: 25px;
  padding-bottom: 25px;
  background: #eef1f2;
  border-bottom: 2px solid #ececec;
}
h1.view-heading {
  color: #596063;
  font-weight: 900;
  font-size: 32px;
}
.view-body {
  background-color: rgb(248, 250, 251);
}
#header {
  .md-button-content {
    padding: 10px;
    height: 44px;
    font-size: 16px;
    line-height: 16px;
  }
  .icon-nav {
    margin-right: 8px;
    margin-bottom: 4px;
    line-height: 16px;
  }
}

#login, #register, #profile, #people {
  height: calc(100vh - 159px);
}

.card-title {
  color: #596063;
}

.v-toolbar {
  max-height: 64px;
}
