<template>
  <v-form v-model="valid">
    <v-container>
      <v-row v-show="alertType">
        <v-col cols="6">
          <v-alert :type="alertType"
                   dismissible>
            {{ alertMessage }}
          </v-alert>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="6">
          <v-text-field v-model="credentials.email"
                        color="secondary"
                        :rules="emailRules"
                        type="email"
                        label="Email address" required>
          </v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="6">
          <v-text-field v-model="credentials.password"
                        color="secondary"
                        :rules="fieldRules"
                        :append-icon="showPass ? 'visibility' : 'visibility_off'"
                        :type="showPass ? 'text' : 'password'"
                        label="Password"
                        @click:append="showPass = !showPass"
                        required>
          </v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="6">
          <v-btn :disabled="!valid"
                 color="secondary"
                 outlined
                 @click="login"
                 large depressed>
            <v-icon left>mdi-account-check-outline</v-icon>
            Login
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
  export default {
    name: 'UserLoginForm',
    data () {
      return {
        valid: false,
        credentials: {
          email: "",
          password: ""
        },
        emailRules: [
          v => !!v || 'E-mail is required',
          v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
        ],
        fieldRules: [
          v => !!v || 'This field is required',
        ],
        showPass: false,
      }
    },
    methods: {
      login() {
        this.$store.dispatch('auth/login', this.credentials);
      }
    },
    computed: {
      alertType() {
        return this.$store.getters['alert/getType'];
      },
      alertMessage() {
        return this.$store.getters['alert/getMessage'];
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>
