<template>
  <v-form v-model="valid">
    <v-container class="mt-6 mb-6">
      <v-row v-show="alertType">
        <v-col cols="12">
          <v-alert :type="alertType"
                   dismissible>
            {{ alertMessage }}
          </v-alert>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col cols="12">
          <v-text-field v-model="user.firstname"
                        :rules="fieldRules"
                        color="secondary"
                        label="First Name" required>
          </v-text-field>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col cols="12">
          <v-text-field v-model="user.lastname"
                        :rules="fieldRules"
                        color="secondary"
                        label="Last Name" required>
          </v-text-field>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col cols="12">
          <v-text-field v-model="user.email"
                        :rules="emailRules"
                        color="secondary"
                        label="Email" required>
          </v-text-field>
        </v-col>
        <v-col cols="12">
        </v-col>
      </v-row>
      <v-row no-gutters class="mt-4">
        <v-col cols="auto">
          <v-btn :disabled="!valid"
                 color="secondary"
                 outlined
                 @click="update"
                 large depressed>
            <v-icon left>mdi-autorenew</v-icon>
            Update
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
  export default {
    name: 'UserUpdateForm',
    props: {
      user: {
        type: Object
      }
    },
    data () {
      return {
        valid: false,
        emailRules: [
          v => !!v || 'E-mail is required',
          v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
        ],
        fieldRules: [
          v => !!v || 'This field is required',
        ],
      }
    },
    methods: {
      update() {
        this.$store.dispatch('user/updateLoggedInUser', this.user)
        this.$store.dispatch('user/setEditProfile')
      },
    },
    computed: {
      alertType() {
        return this.$store.getters['alert/getType']
      },
      alertMessage() {
        return this.$store.getters['alert/getMessage'];
      }
    }
  }
</script>

<style lang="scss" scoped></style>
