<template>
  <v-form v-model="valid">
    <v-container>
      <v-row v-show="alertType">
        <v-col cols="6">
          <v-alert :type="alertType"
                   dismissible>
            {{ alertMessage }}
          </v-alert>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="3">
          <v-text-field v-model="user.firstname"
                        color="secondary"
                        :rules="fieldRules"
                        label="First Name" required>
          </v-text-field>
        </v-col>
        <v-col cols="3">
          <v-text-field v-model="user.lastname"
                        color="secondary"
                        :rules="fieldRules"
                        label="Last Name" required>
          </v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="3">
          <v-text-field v-model="user.email"
                        color="secondary"
                        :rules="emailRules"
                        label="Email" required>
          </v-text-field>
        </v-col>
        <v-col cols="3">
          <v-text-field v-model="user.password"
                        color="secondary"
                        :rules="fieldRules"
                        :append-icon="showPass ? 'visibility' : 'visibility_off'"
                        :type="showPass ? 'text' : 'password'"
                        label="Password"
                        @click:append="showPass = !showPass"
                        required>
          </v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="auto">
          <v-btn :disabled="!valid"
                 color="secondary"
                 outlined
                 @click="register"
                 large depressed>
            <v-icon left>mdi-account-plus</v-icon>
            Register
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
  export default {
    name: 'UserRegisterForm',
    data () {
      return {
        user: {
          firstname: "",
          lastname: "",
          password: "",
          email: ""
        },
        valid: false,
        emailRules: [
          v => !!v || 'E-mail is required',
          v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
        ],
        fieldRules: [
          v => !!v || 'This field is required',
        ],
        showPass: false,
      }
    },
    methods: {
      register() {
        this.$store.dispatch('auth/register', this.user);
      }
    },
    computed: {
      alertType() {
        return this.$store.getters['alert/getType'];
      },
      alertMessage() {
        return this.$store.getters['alert/getMessage'];
      }
    }
  }
</script>

<style lang="scss" scoped></style>
