<template>
  <div>
    <v-row align="center" class="mb-6" no-gutters>
      <v-col cols="auto" class="mr-4">
        <img v-if="userLoggedIn.firstname == 'Homer'" src="@/assets/images/homer.png" style="border-radius: 50%; width: 100px;">
        <img v-else-if="userLoggedIn.firstname == 'Waylon'" src="@/assets/images/smithers.png" style="border-radius: 50%; width: 100px;">
        <img v-else-if="userLoggedIn.firstname == 'Charles'" src="@/assets/images/burns.png" style="border-radius: 50%; width: 100px;">
        <img v-else src="@/assets/images/profile.png" style="border-radius: 50%; width: 100px;">
      </v-col>
      <v-col cols="6">
        <h1>{{ userLoggedIn.firstname }} {{ userLoggedIn.lastname }}</h1>
      </v-col>
    </v-row>
    <v-row no-gutters>
      <v-col cols="4">
        <UserUpdateForm v-show="isEditProfile" v-bind:user="userLoggedIn" />
        <UserDataDisplay v-show="!isEditProfile" v-bind:user="userLoggedIn" />
      </v-col>
    </v-row>
  </div>
</template>

<script>
  import UserDataDisplay from "./UserDataDisplay";
  import UserUpdateForm from "./UserUpdateForm";

  export default {
    name: 'UserProfile',
    components: {
      UserUpdateForm,
      UserDataDisplay
    },
    props: {},
    created() {
      this.$store.dispatch('user/getLoggedInUser', JSON.parse(localStorage.getItem('user')).userId)
    },
    methods: {},
    computed: {
      getUser() {
        return this.$store.getters['auth/getUser']
      },
      userLoggedIn() {
        return this.$store.getters['user/getLoggedInUser']
      },
      isEditProfile() {
        return this.$store.getters['user/isEditProfile']
      }
    }
  }
</script>

<style lang="scss" scoped></style>
