<template>
  <v-container class="mt-6 mb-6">
    <v-row no-gutters :key="name" v-for="(value, name) in getUser">
      <v-col cols="12">
        <v-text-field v-if="isObject(value)" v-for="(prop, team) in value" color="secondary" :label="team" :value="prop" readonly></v-text-field>
        <v-text-field v-if="!isObject(value)" color="secondary" :label="name" :value="value" readonly></v-text-field>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: "UserDataDisplay",
    props: {
      user: Object
    },
    methods: {
      isObject(value) {
        return typeof value === "object"
      }
    },
    computed: {
      getUser() {
        const u = Object.assign({}, this.user)
        console.log("u", u)
        delete u.id
        // u.roleId = 3
        switch (u.roleId) {
          case 3:
            u.role = 'Employee'
            break
          case 2:
            u.role = 'Manager'
            break
          case 1:
            u.role = 'Administrator'
            break
        }
        delete u.roleId
        return u
      }
    }
  }
</script>

<style lang="scss" scoped></style>
