<template>
  <div id="clock" class="mb-12 pb-12">

    <!-- VIEW HEADER -->
    <section class="view-header">
      <v-container>
        <v-row no-gutters justify="space-between">
          <v-col cols="8">
            <h1 class="view-heading">{{ header.title }}</h1>
          </v-col>
        </v-row>
      </v-container>
    </section>

    <!-- VIEW BODY -->
    <section class="view-body pt-7">

      <!-- PEOPLE DATA TABLE -->
      <v-container>
        <v-row no-gutters>
          <v-col cols="5">
            <ClockTracker />
          </v-col>
          <v-col cols="6" offset="1">
            <v-row no-gutters>
              <v-col>
                <ClockChart/>
              </v-col>
            </v-row>
            <v-row no-gutters class="mt-8">
              <v-col>
                <ClockList />
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>

    </section>

  </div>
</template>

<script>
  import ClockTracker from '../components/clock/ClockTracker'
  import ClockChart   from '../components/clock/ClockChart'
  import ClockList    from '../components/clock/ClockList'

  export default {
    name: 'Clock',
    components: {
      ClockTracker,
      ClockChart,
      ClockList
    },
    data () {
      return {
        header: {
          title: "Clock Manager",
        }
      }
    }
  }
</script>

<style lang="scss" scoped></style>
