<template>
  <div id="dashboard" class="mb-12 pb-12">

    <!-- VIEW HEADER -->
    <section class="view-header">
      <v-container>
        <v-row no-gutters justify="space-between">
          <v-col cols="auto">
            <h1 class="view-heading">{{ header.title }}</h1>
          </v-col>
        </v-row>
      </v-container>
    </section>

    <!-- VIEW BODY -->
    <section class="view-body pt-7">

      <!-- DASHBOARD -->
      <v-container>
        <v-row no-gutters>
          <v-col cols="5">
            <!-- TIME TRACKER -->
            <ClockTracker/>
          </v-col>

          <v-col cols="6" offset="1">
            <!-- CLOCK CHART -->
            <ClockChart/>
          </v-col>
        </v-row>

        <v-row no-gutters class="mt-8">
          <!-- WORKING TIMES CHART -->
          <v-col cols="12">
            <WorkingTimesChart :areaData="chart.data"
                               :xkey="chart.options.filter"
                               :ykey="chart.options.ykey"
                               :labels="chart.options.labels"/>
          </v-col>
        </v-row>
      </v-container>

    </section>
  </div>
</template>

<script>
  import ClockTracker from '../components/clock/ClockTracker'
  import ClockChart   from '../components/clock/ClockChart'
  import WorkingTimesChart from "../components/working-times/WTChart"

  export default {
    name: 'Dashboard',
    components: {
      ClockTracker,
      ClockChart,
      WorkingTimesChart
    },
    data() {
      return {
        header: {
          title: 'Dashboard',
          btn: 'Edit'
        },
        chart: {
          filters: {
            type: "days"
          },
          data: [
            {days: new Date("2019-09-11T08:00:00.000Z").toLocaleDateString('en-GB', { weekday: 'long', day : 'numeric', month : 'short', year : 'numeric'}), team: 5, user: 6},
            {days: new Date("2019-09-12T08:00:00.000Z").toLocaleDateString('en-GB', { weekday: 'long', day : 'numeric', month : 'short', year : 'numeric'}), team: 4, user: 6},
            {days: new Date(Date.parse("2019-09-13T08:00:00.000Z")).toLocaleDateString('en-GB', { weekday: 'long', day : 'numeric', month : 'short', year : 'numeric'}), team: 6, user: 9},
            {days: new Date(Date.parse("2019-09-14T08:00:00.000Z")).toLocaleDateString('en-GB', { weekday: 'long', day : 'numeric', month : 'short', year : 'numeric'}), team: 7, user: 8},
            {days: new Date(Date.parse("2019-09-15T08:00:00.000Z")).toLocaleDateString('en-GB', { weekday: 'long', day : 'numeric', month : 'short', year : 'numeric'}), team: 10, user: 11},
          ],
          options: {filter: "days", labels: ["Team", "User"], ykey: ["team", "user"]},
        },
      }
    }
  }
</script>

<style lang="scss" scoped></style>
