<template>
  <footer id="footer" class="mt-12">
    <v-container fluid>
      <v-row align="center" no-gutters>
        <v-col cols="12">
          <p>Made with ❤️ at Epitech</p>
        </v-col>
      </v-row>
    </v-container>
  </footer>
</template>

<script>
  export default {
    name: "Footer"
  }
</script>

<style lang="scss" scoped>
  #footer {
    font-family: 'Code', 'Roboto', sans-serif;
    padding-top: 0px;
    background: #eef1f2;
    border-top: 2px solid #ececec;
    text-align: center;

    p {
      margin-bottom: 0;
    }
  }
</style>
