<template>
  <div id="header">

    <v-toolbar dark color="primary" flat tile>
      <v-toolbar-title>{{ title }}</v-toolbar-title>
      <div class="flex-grow-1"></div>
      <v-toolbar-items>
        <v-btn class="nav-btn pr-8 pl-8" text :to="{ name: 'Dashboard' }" exact>
          <v-icon class="mr-2">mdi-view-dashboard</v-icon> Dashboard
        </v-btn>
        <v-btn class="nav-btn pr-8 pl-8" text :to="{ name: 'WorkingTimes' }">
          <v-icon class="mr-2">mdi-poll-box</v-icon> Working Times
        </v-btn>
        <v-btn class="nav-btn pr-8 pl-8" text :to="{ name: 'Clock' }">
          <v-icon class="mr-2">mdi-alarm</v-icon> Clock
        </v-btn>
        <v-btn class="nav-btn pr-8 pl-8" text :to="{ name: 'People' }">
          <v-icon class="mr-2">mdi-account-supervisor-circle</v-icon> People
        </v-btn>
      </v-toolbar-items>
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn text icon class="ml-4" @click="profileRoute" v-on="on">
            <v-icon>mdi-account-details</v-icon>
          </v-btn>
        </template>
        <span>Profile</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn text icon class="ml-4 mr-4" @click="logout" v-on="on">
            <v-icon>mdi-exit-to-app</v-icon>
          </v-btn>
        </template>
        <span>Logout</span>
      </v-tooltip>
    </v-toolbar>
  </div>
</template>

<script>
  export default {
    name: 'Header',
    data: () => ({
      title: "Time Manager"
    }),
    methods: {
      logout() {
        this.$store.dispatch('auth/logout');
      },
      profileRoute() {
        this.$router.push({ name:'Profile' });
      }
    }
  }
</script>

<style lang="scss" scoped>
  .nav-btn {
    color: white !important;
  }
  .nav-btn:hover {
    text-decoration: none;
  }
</style>
