<template>
  <div id="people" class="mb-12 pb-12">

    <!-- VIEW HEADER -->
    <section class="view-header">
      <v-container>
        <v-row no-gutters justify="space-between">
          <v-col cols="8">
            <h1 class="view-heading">{{ header.title }}</h1>
          </v-col>
          <v-col cols="auto">
            <ManageTeamDialog v-bind:btnText="header.btn" />
          </v-col>
        </v-row>
      </v-container>
    </section>

    <!-- VIEW BODY -->
    <section class="view-body">

      <!-- PEOPLE DATA TABLE -->
      <v-container>
        <v-row>
          <v-col cols="12">
            <DataTable />
          </v-col>
        </v-row>
      </v-container>

    </section>

  </div>
</template>

<script>
  import ManageTeamDialog from "../components/people/ManageTeamDialog";
  import DataTable from "../components/people/DataTable";

  export default {
    name: "People",
    components: {
      ManageTeamDialog,
      DataTable,
    },
    data () {
      return {
        header: {
          title: "People Manager",
          btn: "Manage Team"
        }
      }
    }
  }
</script>

<style lang="scss" scoped></style>
