<template>
  <div id="profile" class="mb-12 pb-12">

    <!-- VIEW HEADER -->
    <section class="view-header">
      <v-container>
        <v-row no-gutters justify="space-between">
          <v-col cols="10">
            <h1 class="view-heading">{{ header.title }}</h1>
          </v-col>
          <v-col cols="auto">
            <v-btn v-if="!isEditProfile"
                   color="secondary"
                   class="ma-2"
                   large
                   @click="editProfile"
                   depressed>
              <v-icon left>mdi-settings-outline</v-icon>
              {{ header.btn }}
            </v-btn>
            <v-btn v-if="isEditProfile"
                   color="error"
                   class="ma-2"
                   @click="editProfile"
                   depressed>
              <v-icon left>mdi-close</v-icon>
              Cancel
            </v-btn>

          </v-col>
        </v-row>
      </v-container>
    </section>

    <!-- VIEW BODY -->
    <section class="view-body">
      <v-container lass="pb-0">
        <v-row no-gutters>
          <v-col cols="12">
            <UserProfile v-bind:editProfile="editProfile" />
          </v-col>
        </v-row>
      </v-container>
    </section>

  </div>
</template>

<script>
  import UserProfile from "../components/user/UserProfile";

  export default {
    name: "Profile",
    components: {
      UserProfile
    },
    data () {
      return {
        header: {
          title: 'Profile',
          btn: 'Edit profile'
        },
      }
    },
    methods: {
      editProfile() {
        this.$store.dispatch('user/setEditProfile')
      }
    },
    computed: {
      isEditProfile() {
        return this.$store.getters['user/isEditProfile']
      }
    }
  }
</script>

<style lang="scss" scoped></style>
