<template>
  <div id="login" class="mb-12 pb-12">

    <!-- VIEW HEADER -->
    <section class="view-header">
      <v-container>
        <v-row no-gutters justify="space-between">
          <v-col cols="8">
            <h1 class="view-heading">{{ header.title }}</h1>
          </v-col>
          <v-col cols="auto">
            <router-link :to="{ name: 'Register' }">
              <v-btn color="secondary" class="ma-2" depressed @click="dialog = true">
                <v-icon left>mdi-account-plus</v-icon>
                {{ header.btn }}
              </v-btn>
            </router-link>
          </v-col>
        </v-row>
      </v-container>
    </section>

    <!-- VIEW BODY -->
    <section class="view-body">
      <v-container>
        <v-row>
          <v-col cols="12">
            <UserLoginForm />
          </v-col>
        </v-row>
      </v-container>
    </section>

  </div>
</template>

<script>
  import UserLoginForm from "../components/user/UserLoginForm";

  export default {
    name: "UserLogin",
    components: {
      UserLoginForm
    },
    data () {
      return {
        header: {
          title: "Login",
          btn: "Register"
        }
      }
    }
  }
</script>

<style lang="scss" scoped></style>
