<template>
  <div id="workingTimes" class="mb-12 pb-12">

    <!-- VIEW HEADER -->
    <section class="view-header">
      <v-container>
        <v-row no-gutters>
          <v-col cols="10">
            <h1 class="view-heading">{{ title }}</h1>
          </v-col>
          <v-col cols="2">
            <WTAddDialog v-bind:btnText="btn" />
          </v-col>
        </v-row>
      </v-container>
    </section>

    <!-- VIEW BODY -->
    <section class="view-body">

      <!-- WORKING TIMES CHART FILTERS -->
      <v-container>
        <v-row no-gutters>
          <v-col cols="12">
            <WorkingTimesChartFilters />
          </v-col>
        </v-row>
      </v-container>

      <!-- WORKING TIMES CHART -->
      <v-container class="pt-0">
        <v-row no-gutters>
          <v-col cols="12">
            <WTChart />
          </v-col>
        </v-row>
      </v-container>

      <!-- WORKING TIMES TABLE -->
      <v-container>
        <v-row class="mt-4">
          <v-col cols="12">
            <WTDataTable :title="tableTitle" :userName="user.firstName"/>
          </v-col>
        </v-row>
      </v-container>

    </section>

  </div>
</template>

<script>
  import WTAddDialog from '../components/working-times/WTAddDialog'
  import WorkingTimesChartFilters from "../components/working-times/WTChartFilters";
  import WTChart from "../components/working-times/WTChart";
  import WTDataTable from "../components/working-times/WTDataTable";

  export default {
    name: 'workingTimes',
    components: {
      WTAddDialog,
      WorkingTimesChartFilters,
      WTChart,
      WTDataTable,
    },
    data () {
      return {
        title: "Working Times Manager",
        btn: "Add Working Time",
        user: {firstName: "Kevin", lastName: "Oustry"},
        userList: [
          'Jean', 'Simon', 'Camille', 'Kevin', 'Mikael', 'Clement', 'Alice', 'Marion'
        ],
        tableTitle: "Working Times"

      }
    }
  }
</script>

<style lang="scss" scoped></style>
