<template>
  <v-card max-width="auto" class="mx-auto">
    <v-card-title class="mb-4 pt-6">
      <h3 class="card-title">Time Tracker</h3>
    </v-card-title>
    <v-card-text>
      <!-- TIME TRACKER -->
      <v-divider class="mt-6 mb-6"></v-divider>
      <v-row class="timer" no-gutters align="center" justify="center">
        <v-col cols="auto">
          <span class="hours">00</span>
        </v-col>
        <v-col cols="auto" class="pb-4">
          <span>:</span>
        </v-col>
        <v-col cols="auto">
          <span class="minutes">00</span>
        </v-col>
        <v-col cols="auto" class="pb-4">
          <span>:</span>
        </v-col>
        <v-col cols="auto">
          <span class="seconds">00</span>
        </v-col>
      </v-row>
      <v-divider class="mt-6 mb-8"></v-divider>
      <!-- START / END-->
      <v-row class="mt-4 mb-4" no-gutters align="center" justify="center">
        <v-col cols="auto">
          <v-btn depressed x-large color="secondary" @click="start" :disabled='isDisabled'>Start</v-btn>
        </v-col>
        <v-col cols="auto" offset="1">
          <v-btn depressed x-large color="error" @click="stop" :disabled='!isDisabled'>Stop</v-btn>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import Vuex from 'vuex'

export default {
  name: 'ClockTracker',
  data() {
    return {
      time: '',
      status: false,
      hours: 0,
      minutes: 0,
      seconds: 0,
      interval: null
    }
  },
  mounted() {
    this.updateClocks().then(() => {
      if(this.clock.status) {
        this.timeSinceLastClock()
        this.start()
      }
    })
  },
  methods: {
    ...Vuex.mapActions({
        updateClockStore: 'updateClock', 
        updateClockTabStore: 'updateClocks'
    }),
    async updateClock() {
      await this.updateClockStore({id: JSON.parse(localStorage.getItem("user")).userId, time: this.time, status: this.status})
    },
    async updateClocks() {
      await this.updateClockTabStore({id: JSON.parse(localStorage.getItem("user")).userId})
    },
    start() {
      if(!this.clock.status) {
        this.time = Math.floor($.now() / 1000).toString();
        this.status = true;
      }
      this.interval = setInterval(this.updateTime, 1000);
    },
    stop() {
      this.time = Math.floor($.now() / 1000).toString();
      this.status = false;
      this.hours, this.minutes, this.seconds = 0;
      $(".hours").html("00");
      $(".minutes").html("00");
      $(".seconds").html("00");
      clearInterval(this.interval);
    },
    timeSinceLastClock() {
      let now = Math.floor($.now() / 1000)
      this.seconds = now - this.clock.time;
      this.minutes = Math.floor(this.seconds / 60000);
      this.hours = Math.floor(this.minutes  / 60);
      this.minutes  = this.minutes  % 60;
    },
    updateTime() {
      if(this.seconds < 59) {
        this.seconds += 1;
      } else {
        this.seconds = 0;
        this.minutes += 1 ;
      }
      if(this.minutes > 59) {
        this.minutes = 0;
        this.hours += 1; 
      }
      if(this.seconds < 10)
        $(".seconds").html("0" + this.seconds);
      else
        $(".seconds").html(this.seconds);
      if(this.minutes < 10)
        $(".minutes").html("0" + this.minutes);
      else
        $(".minutes").html(this.minutes);
      if(this.hours < 10)
        $(".hours").html("0" + this.hours);
      else
        $(".hours").html(this.hours);
    }
  },
  beforeDestroy () {
    this.stop()
  },
  computed: {
    ...Vuex.mapGetters(['clock', 'clocks']),
    isDisabled() {
      return this.clock.status
    }
  },
  watch: {
    time() {
      this.updateClock().then(() => {
        this.updateClocks()
      })
    }
  } 
}
</script>

<style lang="scss" scoped>
  .timer {
    font-family: 'Roboto Mono', monospace;
    font-size: 6rem;
    line-height: 1.2;
    text-align: center;
  }
</style>
