<template>
<v-card max-width="600" class="mx-auto">
    <v-card-title class="mb-4 pt-6">
      <h3 class="card-title">Logs</h3>
    </v-card-title>
    <v-card-text>
      <!-- CLOCK TABLE -->
      <v-data-table
          :headers="headers"
          :items="clocks"
          :items-per-page="8"
          :loading="loading"
          class="elevation-1">
        <template v-slot:item.status="{item}">
          <v-chip :color="getColor(item.status)" dark>{{item.status}}</v-chip>
        </template>
      </v-data-table>
    </v-card-text>
  </v-card>

</template>

<script>
import Vuex from 'vuex'

export default {
  name: 'ClockList',
  data () {
    return {
      loading: true,
      headers: [
        { text: 'Time', value: 'time' },
        { text: 'Status', value: 'status' }
      ],
    }
  },
  mounted() {
    this.updateDataTable()
  },
  methods: {
    updateDataTable() {
      this.loading = true
      return new Promise((resolve) => {
        let items = this.clocks
        const total = items.length

      setTimeout(() => {
        this.loading = false
          resolve({
            items,
            total,
          })
        }, 1000)
      })
    },
    getColor (status) {
      if (status == "Clock in") {
        return '#5CD295'
      } 
      else {
        return '#ff5252'
      }
    },
  },
  computed: {
    ...Vuex.mapGetters(['clocks']),
  },
  watch: {
    clocks() {
      this.updateDataTable()
    }
  }
}
</script>

<style lang="scss" scoped>
  .md-field {
    max-width: 300px;
  }
  .theme--dark.v-chip:not(.v-chip--active) {
    width: 90px;
    justify-content: center;
  }
</style>
