<template>
  <v-card max-width="600" class="mx-auto">
    <v-card-title class="mb-4 pt-6">
      <h3 class="card-title">Your last 7 working days</h3>
    </v-card-title>
    <v-card-text>
      <!-- CLOCK CHART -->
      <v-sheet color="#F7F7F7">
        <bar-chart 
          id="bar" :data="clockChart" xkey="days" ykeys='["hours"]' resize="true"
          labels='["Hours"]' bar-colors='["#5286B9"]' hideHover="auto"
          grid="true" grid-text-weight="bold">
        </bar-chart>
      </v-sheet>
    </v-card-text>
  </v-card>
</template>

<script>
import { BarChart } from 'vue-morris'
import Vuex from 'vuex'

export default {
  name: 'ClockChart',
  data() {
    return {
      clockChart: [
        { days: 'mon', hours: 8 },
        { days: 'tue', hours: 6 },
        { days: 'wed', hours: 9 },
        { days: 'thu', hours: 5 },
        { days: 'fri', hours: 8 },
        { days: 'sat', hours: 7 },
        { days: 'sun', hours: 5 }
      ],
    }
  },
  components: {
    BarChart
  },
  methods: {
    getHoursByDay() {
      // In progress
      let chart = [
        { days: 'mon', hours: 0 }, 
        { days: 'tue', hours: 0 }, 
        { days: 'wed', hours: 0 },
        { days: 'thu', hours: 0 }, 
        { days: 'fri', hours: 0 }, 
        { days: 'sat', hours: 0 }, 
        { days: 'sun', hours: 0 }
      ]
      for(i=0; i < chart.length; i++) {
        for(i=0; i < workingTimes.length; i++) {
          let date1 = workingTimes[i].start
          let date2 = workingTimes[i].end
        }
      }
    },
    getHoursBetweenTwoDate(date1, date2) {
      return Math.abs(date1 - date2) / 36e5;
    }
  },
  computed: {
    ...Vuex.mapGetters(['clocks']),
  },
}
</script>

<style lang="scss" scoped></style>
