<template>
  <div>

    <!-- OPEN BUTTON -->
    <v-btn color="secondary" class="ma-2" large depressed dark @click="dialog = true">
      <v-icon left>mdi-plus-circle-outline</v-icon>
      {{ btnText }}
    </v-btn>

    <!-- DIALOG -->
    <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition" scrollable>
      <v-card tile>
        <v-toolbar flat dark color="primary">
          <!-- CLOSE -->
          <v-btn icon dark @click="closeDialog"><v-icon>mdi-close</v-icon></v-btn>
          <!-- TITLE -->
          <v-toolbar-title>{{ btnText }}</v-toolbar-title>
          <div class="flex-grow-1"></div>
          <!-- SAVE -->
          <v-toolbar-items>
            <v-btn dark text @click="saveDialog">Save</v-btn>
          </v-toolbar-items>
        </v-toolbar>

        <v-container>

          <!-- USER SELECT -->
          <v-row>
            <v-col cols="12" md="6">
              <h3 class="mb-4">Select a user which to add working time</h3>
              <v-autocomplete v-model="selectedUser"
                              :items="getTeamUsers"
                              color="secondary"
                              hide-no-data
                              item-text="fullName"
                              item-value="id"
                              label="Users list"
                              placeholder="Start typing to search"
                              prepend-icon="mdi-account-search"
                              return-object>
              </v-autocomplete>
            </v-col>
          </v-row>

          <v-divider class="mb-4 mt-4"></v-divider>

          <!-- START -->
          <v-row>
            <!-- TITLE -->
            <v-col cols="12" md="12">
              <h3 class="mb-2">Select a starting date and time</h3>
            </v-col>
            <!-- STARTING DATE -->
            <v-col cols="12" md="6">
              <v-menu ref="menuStartDate"
                      v-model="menuStartDate"
                      :close-on-content-click="false"
                      :return-value.sync="startDate"
                      transition="scale-transition"
                      offset-y
                      min-width="290px">
                <template v-slot:activator="{ on }">
                  <v-text-field v-model="startDate"
                                label="Starting date"
                                prepend-icon="event"
                                readonly
                                v-on="on">
                  </v-text-field>
                </template>
                <v-date-picker v-model="startDate" no-title scrollable>
                  <div class="flex-grow-1"></div>
                  <v-btn text color="primary"
                         @click="menuStartDate = false">Cancel</v-btn>
                  <v-btn text color="primary"
                         @click="$refs.menuStartDate.save(startDate)">OK</v-btn>
                </v-date-picker>
              </v-menu>
            </v-col>
            <!-- STARTING TIME -->
            <v-col cols="12" md="6">
              <v-menu ref="menuStartTime"
                      v-model="menuStartTime"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      :return-value.sync="startTime"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px">
                <template v-slot:activator="{ on }">
                  <v-text-field v-model="startTime"
                                label="Select starting time"
                                prepend-icon="access_time"
                                readonly
                                v-on="on">
                  </v-text-field>
                </template>
                <v-time-picker v-if="menuStartTime"
                               v-model="startTime"
                               format="24hr"
                               @click:minute="$refs.menuStartTime.save(startTime)">
                </v-time-picker>
              </v-menu>
            </v-col>
          </v-row>

          <v-divider class="mb-4 mt-4"></v-divider>

          <v-row>
            <!-- TITLE -->
            <v-col cols="12" md="12">
              <h3 class="mb-2">Select an ending date and time</h3>
            </v-col>
            <!-- ENDING DATE -->
            <v-col cols="12" md="6">
              <v-menu ref="menuEndDate"
                      v-model="menuEndDate"
                      :close-on-content-click="false"
                      :return-value.sync="endDate"
                      transition="scale-transition"
                      offset-y
                      min-width="290px">
                <template v-slot:activator="{ on }">
                  <v-text-field v-model="endDate"
                                label="Ending date"
                                prepend-icon="event"
                                readonly
                                v-on="on">
                  </v-text-field>
                </template>
                <v-date-picker v-model="endDate"
                               no-title
                               scrollable>
                  <div class="flex-grow-1"></div>
                  <v-btn text
                         color="primary"
                         @click="menuEndDate = false">
                    Cancel
                  </v-btn>
                  <v-btn text
                         color="primary"
                         @click="$refs.menuEndDate.save(endDate)">
                    OK
                  </v-btn>
                </v-date-picker>
              </v-menu>
            </v-col>
            <!-- ENDING TIME -->
            <v-col cols="12" md="6">
              <v-menu ref="menuEndTime"
                      v-model="menuEndTime"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      :return-value.sync="endTime"
                      transition="scale-transition"
                      offset-y
                      max-width="290px"
                      min-width="290px">
                <template v-slot:activator="{ on }">
                  <v-text-field v-model="endTime"
                                label="Select ending time"
                                prepend-icon="access_time"
                                readonly
                                v-on="on">
                  </v-text-field>
                </template>
                <v-time-picker v-if="menuEndTime"
                               v-model="endTime"
                               format="24hr"
                               @click:minute="$refs.menuEndTime.save(endTime)">
                </v-time-picker>
              </v-menu>
            </v-col>
          </v-row>

        </v-container>

        <div style="flex: 1 1 auto;"></div>
      </v-card>
    </v-dialog>

  </div>
</template>

<script>
  export default {
    name: 'WTAddDialog',

    props: {
      btnText: {
        type: String
      }
    },

    data () {
      return {
        dialog: false,
        modal: false,
        selectedUser: null,

        startDate: null,
        startTime: null,
        endDate: null,
        endTime: null,
        menuStartDate: false,
        menuStartTime: false,
        menuEndDate: false,
        menuEndTime: false,
      }
    },

    created() {
      // this.$store.dispatch('team/getTeamById', this.getLoggedInUser.team.id)
    },

    computed: {
      getLoggedInUser() {
        return this.$store.getters['user/getLoggedInUser']
      },
      getTeamUsers() {
      //   return this.$store.getters['team/getTeam'].users.map(user => {
      //     const fullName = `${user.firstname} ${user.lastname}`
      //     return Object.assign({}, user, { fullName })
      //   })
        return []
      }
    },

    methods: {
      closeDialog() {
        this.dialog = false
      },
      saveDialog() {
        const params = {
          userId: this.selectedUser.id,
          data: {
            start: (new Date(`${this.startDate} ${this.startTime}`).getTime() / 1000).toString(),
            end: (new Date(`${this.endDate} ${this.endTime}`).getTime() / 1000).toString(),
          }
        }
        this.$store.dispatch('workingTimes/createWorkingTime', params)
        this.dialog = false
      },
    }

  }
</script>

<style lang="scss" scoped>
  .v-toolbar {
    flex: none;
  }
</style>
