<template>
  <v-card class="mx-auto">
    <v-card-text>
      <line-chart id="area"
                :data="getWorkingTimes"
                :xkey="chart.options.xkey"
                :ykeys="chart.options.ykey"
                :labels="chart.options.labels"
                line-colors='[ "#49cf8b", "#36A2EB" ]'
                label-colors='[ "#49cf8b", "#36A2EB" ]'
                grid="true"
                grid-text-weight="bold"
                hide-hover="auto"
                resize="true"
                parseTime="false">
      </line-chart>
    </v-card-text>
  </v-card>
</template>

<script>
  import { LineChart } from 'vue-morris';

  export default {
    name: 'WTChart',

    components: {
      LineChart
    },

    data: () => {
      return {
        chart: {
          filters: {
            type: "days"
          },
          data: [
            {day: new Date("2019-09-12T08:00:00.000Z").toLocaleDateString('en-GB', { weekday: 'long', day : 'numeric', month : 'short', year : 'numeric'}), team: 4, user: 6},
            {day: new Date(Date.parse("2019-09-13T08:00:00.000Z")).toLocaleDateString('en-GB', { weekday: 'long', day : 'numeric', month : 'short', year : 'numeric'}), team: 6, user: 9},
            {day: new Date(Date.parse("2019-09-14T08:00:00.000Z")).toLocaleDateString('en-GB', { weekday: 'long', day : 'numeric', month : 'short', year : 'numeric'}), team: 7, user: 8},
            {day: new Date(Date.parse("2019-09-15T08:00:00.000Z")).toLocaleDateString('en-GB', { weekday: 'long', day : 'numeric', month : 'short', year : 'numeric'}), team: 10, user: 11},
          ],
          options: {
            xkey: "day",
            labels: [
              // "Team",
              "User"
            ],
            ykey: [
              // "team",
              "userHours"
            ]
          },
        },
      }
    },

    computed: {
      getWorkingTimes() {
        return this.$store.getters['workingTimes/getWorkingTimes']
            .map((wt) => {
              const hours = new Date((wt.end - wt.start) * 1000).getHours()
              const minutes = new Date((wt.end - wt.start) * 1000).getMinutes()
              const chartEntry = {
                day: (new Date(wt.start * 1000)).toLocaleDateString(this.locale, this.format),
                userHours: hours + (minutes / 100)
              }
              console.log("chartEntry =>", chartEntry)
              return chartEntry
            })
      },
      locale() {
        return this.$store.getters['workingTimes/getDateLocale']
      },
      format() {
        return this.$store.getters['workingTimes/getDateOptions']
      }

    }

  }
</script>

<style lang="scss" scoped></style>
