<template>
  <v-row align="center" justify="space-between">

    <!-- USER LIST -->
    <v-col cols="2">
      <v-autocomplete prepend-icon="mdi-account-search" label="User" :items="[]"></v-autocomplete>
    </v-col>

    <!-- TEAM LIST -->
    <v-col cols="2">
      <v-autocomplete prepend-icon="mdi-account-multiple" label="Team" :items="[]"></v-autocomplete>
    </v-col>

    <!-- START DATE -->
    <v-col cols="2">
      <v-menu ref="menuStartDate"
              v-model="menuStartDate"
              :close-on-content-click="false"
              :return-value.sync="startDate"
              transition="scale-transition"
              offset-y
              min-width="290px">
        <template v-slot:activator="{ on }">
          <v-text-field v-model="startDate"
                        label="Start date"
                        prepend-icon="event"
                        readonly
                        v-on="on">
          </v-text-field>
        </template>
        <v-date-picker v-model="startDate" no-title scrollable>
          <div class="flex-grow-1"></div>
          <v-btn text color="primary" @click="menuStartDate = false">Cancel</v-btn>
          <v-btn text color="primary" @click="$refs.menuStartDate.save(startDate)">OK</v-btn>
        </v-date-picker>
      </v-menu>
    </v-col>

    <!-- END DATE -->
    <v-col cols="2">
      <v-menu ref="menuEndDate"
              v-model="menuEndDate"
              :close-on-content-click="false"
              :return-value.sync="endDate"
              transition="scale-transition"
              offset-y
              min-width="290px">
        <template v-slot:activator="{ on }">
          <v-text-field v-model="endDate"
                  label="End date"
                  prepend-icon="event"
                  readonly
                  v-on="on">
          </v-text-field>
        </template>
        <v-date-picker v-model="endDate" no-title scrollable>
          <div class="flex-grow-1"></div>
          <v-btn text color="primary" @click="menuEndDate = false">Cancel</v-btn>
          <v-btn text color="primary" @click="$refs.menuEndDate.save(endDate)">OK</v-btn>
        </v-date-picker>
      </v-menu>
    </v-col>

    <!-- FILTER -->
    <v-col cols="auto">
      <v-btn outlined color="primary" @click="filter">Filter</v-btn>
    </v-col>

    <v-spacer></v-spacer>

    <!-- BTN TOGGLE -->
    <v-col cols="auto">
      <v-btn-toggle v-model="filters.type" mandatory>
        <v-btn text value="days">Days</v-btn>
        <v-btn text value="weeks">Weeks</v-btn>
      </v-btn-toggle>
    </v-col>

  </v-row>
</template>

<script>
  export default {
    name: "WorkingTimesChartFilters",

    data: () => {
      return {
        menu: '',
        startDate: null,
        endDate: null,
        menuStartDate: false,
        menuEndDate: false,
        filters: {}
      }
    },

    methods: {
      filter() {
        const data = {
          start: new Date((new Date(this.startDate)).toISOString()).getTime() / 1000,
          end: new Date((new Date(this.endDate)).toISOString()).getTime() / 1000
        }
        const userId = JSON.parse(localStorage.getItem('user')).userId

        if (data.start <= data.end && (data.start !== 0 && data.end !== 0)) {
          this.$store.dispatch('workingTimes/getWorkingTimesByRange', {userId, data})
        }
      }
    },

    computed: {
      getUserId() {
        return this.$store.getters['user/getLoggedInUser'].id
      },
      getQuery() {
        return this.$store.getters['workingTimes/getQuery']
      }
    }

  }
</script>

<style lang="scss" scoped></style>
