<template>
  <v-card>
    <v-dialog v-model="dialog" max-width="500px">
      <v-card>
        <v-card-title>
          <span class="headline">Edit working time</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <!-- STARTING DATE -->
              <v-col cols="12" md="6">
                <v-menu ref="menuStartDate"
                        v-model="menuStartDate"
                        :close-on-content-click="false"
                        :return-value.sync="editedItem.startDate"
                        transition="scale-transition"
                        offset-y
                        min-width="290px">
                  <template v-slot:activator="{ on }">
                    <v-text-field v-model="editedItem.startDate"
                                  label="Starting date"
                                  prepend-icon="event"
                                  readonly
                                  v-on="on">
                    </v-text-field>
                  </template>
                  <v-date-picker v-model="editedItem.startDate" no-title scrollable>
                    <div class="flex-grow-1"></div>
                    <v-btn text color="primary"
                           @click="menuStartDate = false">Cancel</v-btn>
                    <v-btn text color="primary"
                           @click="$refs.menuStartDate.save(editedItem.startDate)">OK</v-btn>
                  </v-date-picker>
                </v-menu>
              </v-col>
              <!-- STARTING TIME -->
              <v-col cols="12" md="6">
                <v-menu ref="menuStartTime"
                        v-model="menuStartTime"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        :return-value.sync="editedItem.startTime"
                        transition="scale-transition"
                        offset-y
                        max-width="290px"
                        min-width="290px">
                  <template v-slot:activator="{ on }">
                    <v-text-field v-model="editedItem.startTime"
                                  label="Select starting time"
                                  prepend-icon="access_time"
                                  readonly
                                  v-on="on">
                    </v-text-field>
                  </template>
                  <v-time-picker v-if="menuStartTime"
                                 v-model="editedItem.startTime"
                                 format="24hr"
                                 @click:minute="$refs.menuStartTime.save(editedItem.startTime)">
                  </v-time-picker>
                </v-menu>
              </v-col>
            </v-row>

            <v-row>
              <!-- ENDING DATE -->
              <v-col cols="12" md="6">
                <v-menu ref="menuEndDate"
                        v-model="menuEndDate"
                        :close-on-content-click="false"
                        :return-value.sync="editedItem.endDate"
                        transition="scale-transition"
                        offset-y
                        min-width="290px">
                  <template v-slot:activator="{ on }">
                    <v-text-field v-model="editedItem.endDate"
                                  label="Ending date"
                                  prepend-icon="event"
                                  readonly
                                  v-on="on">
                    </v-text-field>
                  </template>
                  <v-date-picker v-model="editedItem.endDate" no-title scrollable>
                    <div class="flex-grow-1"></div>
                    <v-btn text color="primary"
                           @click="menuEndDate = false">Cancel</v-btn>
                    <v-btn text color="primary"
                           @click="$refs.menuEndDate.save(editedItem.endDate)">OK</v-btn>
                  </v-date-picker>
                </v-menu>
              </v-col>
              <!-- ENDING TIME -->
              <v-col cols="12" md="6">
                <v-menu ref="menuEndTime"
                        v-model="menuEndTime"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        :return-value.sync="editedItem.endTime"
                        transition="scale-transition"
                        offset-y
                        max-width="290px"
                        min-width="290px">
                  <template v-slot:activator="{ on }">
                    <v-text-field v-model="editedItem.endTime"
                                  label="Select ending time"
                                  prepend-icon="access_time"
                                  readonly
                                  v-on="on">
                    </v-text-field>
                  </template>
                  <v-time-picker v-if="menuEndTime"
                                 v-model="editedItem.endTime"
                                 format="24hr"
                                 @click:minute="$refs.menuEndTime.save(editedItem.endTime)">
                  </v-time-picker>
                </v-menu>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
          <v-btn color="blue darken-1" text @click="updateWT">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-card-title>
      Your working times
      <div class="flex-grow-1"></div>
      <v-text-field v-model="search"
                    append-icon="search"
                    label="Search"
                    single-line
                    hide-details></v-text-field>
    </v-card-title>
    <v-data-table :headers="headers"
                  :items="getWorkingTimes"
                  :search="search">
      <template v-slot:item.action="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)">edit</v-icon>
        <v-icon small @click="deleteItem(item)">delete</v-icon>
      </template>
    </v-data-table>

  </v-card>
</template>

<script>
  export default {
    name: 'WTDataTable',

    props: {
      userName: {
        type: String
      }
    },

    data () {
      return {
        dialog: false,
        editedItem: {
          id: "",
          startDate: null,
          startTime: null,
          endDate: null,
          endTime: null,
        },
        menuStartDate: false,
        menuStartTime: false,
        menuEndDate: false,
        menuEndTime: false,

        search: '',
        headers: [
          {text: 'ID', align: 'left', sortable: false, value: 'id'},
          {text: 'Start Date', value: 'startLocale'},
          {text: 'End Date', value: 'endLocale'},
          {text: 'Actions', value: 'action', sortable: false, align: 'center'}
        ],
      }
    },

    mounted() {
      this.$store.dispatch('workingTimes/getWorkingTimes', { userId: this.getLoggedInUserId })
    },

    methods: {
      editItem(item) {
        this.editedItem = {
          id: item.id,
          start: "",
          end: ""
        }
        this.dialog = true
      },
      deleteItem(item) {
        if (confirm('Are you sure you want to delete this item?')) {
          this.$store.dispatch('workingTimes/deleteWorkingTime', { wtId: item.id })
        }
      },
      close() {
        this.dialog = false
      },
      updateWT() {
        console.log("this.editedItem", this.editedItem)
        const wt = {
          id: this.editedItem.id,
          start: (new Date(`${this.editedItem.startDate} ${this.editedItem.startTime}`).getTime() / 1000).toString(),
          end: (new Date(`${this.editedItem.endDate} ${this.editedItem.endTime}`).getTime() / 1000).toString(),
        }
        this.$store.dispatch('workingTimes/updateWorkingTime', { wt })
          .then(() => this.$store.dispatch('workingTimes/getWorkingTimes', { userId: this.getLoggedInUserId }))

        this.dialog = false
      }
    },

    computed: {
      getWorkingTimes() {
        return this.$store.getters['workingTimes/getWorkingTimes'].map(wt => {
          wt.startLocale = (new Date(wt.start * 1000)).toLocaleDateString(this.locale, this.format)
          wt.endLocale = (new Date(wt.end * 1000)).toLocaleDateString(this.locale, this.format)
          return wt
        })
      },
      getLoggedInUserId() {
        return this.$store.getters['auth/getUser'].userId
      },
      locale() {
        return this.$store.getters['workingTimes/getDateLocale']
      },
      format() {
        return this.$store.getters['workingTimes/getDateOptions']
      }
    }
  }
</script>

<style lang="scss" scoped></style>
