<template>
  <v-app>
    <v-content>
      <div id="app">

        <!-- HEADER -->
        <Header title="Time Manager" />

        <!-- ROUTER VIEW -->
        <router-view/>

        <!-- FOOTER -->
        <Footer />

      </div>
    </v-content>
  </v-app>
</template>

<script>
  import Header from './views/Header'
  import Footer from './views/Footer'

  export default {
    name: 'App',
    components: {
      Header,
      Footer
    }
};
</script>

<style lang="scss" scoped></style>
