<template>
  <div>

    <!-- OPEN BUTTON -->
    <v-btn color="secondary" class="btn-large" outlined large @click="addUserDialog = true">
      {{ btnText }}
    </v-btn>

    <!-- DIALOG -->
    <v-dialog v-model="addUserDialog" max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">{{ dialogTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-autocomplete v-model="selectedUser"
                                :items="getUsers"
                                color="secondary"
                                hide-no-data
                                item-text="fullName"
                                item-value="id"
                                label="Users list"
                                placeholder="Start typing to search"
                                prepend-icon="mdi-account-search"
                                return-object>
                </v-autocomplete>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="gray" large text @click="addUserDialog = false">Close</v-btn>
          <v-btn color="secondary" large text @click="addTeamUser">Add to team</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>


  </div>
</template>

<script>
  export default {
    name: 'AddUserDialog',

    props: {
      btnText: {
        type: String
      }
    },

    data() {
      return {
        addUserDialog: false,
        dialogTitle: 'Add new employee to the team',

        selectedUser: null,
        search: null,
      }
    },

    created() {
      this.$store.dispatch('user/getAllUsers')
    },

    methods: {
      addTeamUser() {
        this.$store.dispatch('team/addTeamUser', {teamId:this.getTeam.id, userId:this.selectedUser.id})
        this.addUserDialog = false
      }
    },

    computed: {
      getUsers() {
        return this.$store.getters['user/getUsers'].map(user => {
          const fullName = `${user.firstname} ${user.lastname}`
          return Object.assign({}, user, { fullName })
        })
      },
      getTeam() {
        return this.$store.getters['team/getTeam']
      },
    },

    watch: {
    },

  }
</script>

<style lang="scss" scoped></style>
