<template>
  <div>

    <!-- OPEN BUTTON -->
    <v-btn color="secondary" class="btn-large" outlined large @click="createUserDialog = true">
      {{ btnText }}
    </v-btn>

    <!-- DIALOG -->
    <v-dialog v-model="createUserDialog" max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">{{ dialogTitle }}</span>
        </v-card-title>
        <v-card-text>

          <v-container>
            <v-row>
              <v-col cols="6">
                <v-text-field v-model="user.firstname" label="First name" color="secondary"></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field v-model="user.lastname" label="Last Name" color="secondary"></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field v-model="user.email" label="Email" color="secondary"></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field v-model="user.password" label="Password" type="password" color="secondary"></v-text-field>
              </v-col>
              <v-col cols="12" sm="6">
                <v-switch v-model="addToTeam" label="Add user to the team" color="secondary"></v-switch>
              </v-col>
            </v-row>
          </v-container>

        </v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="gray" large text @click="createUserDialog = false">Close</v-btn>
          <v-btn color="secondary" large text @click="createUser">Create user</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </div>
</template>

<script>
  export default {
    name: 'CreateUserDialog',

    props: {
      btnText: {
        type: String
      }
    },

    data() {
      return {
        createUserDialog: false,
        dialogTitle: 'Create new user',
        user: {
          firstname: null,
          lastname: null,
          password: null,
          email: null,
          roleId: 3,
          teams: []
        },
        addToTeam: true
      }
    },

    created() {
    },

    methods: {
      createUser() {
        if (this.addToTeam) {
          this.user.teams.push(this.getTeam.id)
        }
        this.$store.dispatch('user/createUser', {user:this.user, addToTeam: this.addToTeam, teamId: this.getTeam.id})
        this.createUserDialog = false
      }
    },

    computed: {
      getLoggedInUser() {
        return this.$store.getters['auth/getUser']
      },
      getTeam() {
        return this.$store.getters['team/getTeam']
      },
    },

    watch: {
    },

  }
</script>

<style lang="scss" scoped></style>
