<template>
  <div>

    <!-- ACTIONS -->
    <v-row justify="space-between">
      <!-- SEARCH FILTER -->
      <v-col cols="4">
        <v-text-field outlined v-model="search" color="secondary" append-icon="search" label="Search"></v-text-field>
      </v-col>
      <v-col cols="auto">
        <v-row no-gutters>
          <!-- ADD USER -->
          <v-col cols="auto" class="mr-4">
            <AddUserDialog v-bind:btnText="'Add user to team'"/>
          </v-col>
          <!-- CREATE USER -->
          <v-col class="auto">
            <CreateUserDialog v-bind:btnText="'Create user'"/>
          </v-col>
        </v-row>
      </v-col>
    </v-row>

    <!-- DATA TABLE -->
    <v-card>
      <v-data-table :headers="headers"
                    :items="getUsers"
                    :loading="isLoading"
                    :search="search"
                    loading-text="Loading users... Please wait"
                    hide-default-footer>
        <template v-slot:item.action="{ item }">
          <v-icon small class="mr-2" color="secondary" @click="showItem(item)">insert_chart</v-icon>
          <v-icon small class="mr-2" @click="updateItem(item)">edit</v-icon>
          <v-icon small @click="deleteItem(item)">delete</v-icon>
        </template>
      </v-data-table>
    </v-card>

    <!-- DATA TABLE ACTION : UPDATE USER DIALOG -->
    <v-dialog v-model="dialogUpdateUser" max-width="500px">
      <v-card>
        <v-card-title>
          <span class="headline">{{ UserDialog.title }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <UserUpdateForm v-bind:user="this.editedItem" />
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>

    <!-- DATA TABLE ACTION : DELETE USER DIALOG -->
    <v-dialog v-model="dialogDeleteUser" max-width="300">
      <v-card>
        <v-card-title class="headline">
          Confirmation
        </v-card-title>
        <v-card-text>
          <p class="body-1">Are you sure you want to remove this user ?</p>
        </v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="light" text @click="dialogDeleteUser = false">Cancel</v-btn>
          <v-btn color="green" text @click="confirmRemoveUser">Confirm</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </div>
</template>

<script>
  import AddUserDialog from "./AddUserDialog"
  import CreateUserDialog from "./CreateUserDialog"
  import UserUpdateForm from "../user/UserUpdateForm"

  export default {
    name: 'DataTable',

    components: {
      AddUserDialog,
      CreateUserDialog,
      UserUpdateForm
    },

    data () {
      return {
        dialogUpdateUser: false,
        dialogDeleteUser: false,
        UserDialog: {
          title: 'Edit user'
        },
        search: '',
        headers: [
          { text: 'First Name', value: 'firstname' },
          { text: 'Last Name',  value: 'lastname' },
          { text: 'Email',      value: 'email' },
          // { text: 'Role',       value: 'role' },
          // { text: 'Teams',      value: 'teams',   align: 'left' },
          { text: 'Actions',    value: 'action',  align: 'center', sortable: false }
        ],
        editedIndex: -1,
        editedItem: {
          id: "",
          firstName: "",
          lastName: "",
          email: "",
          teams: [],
          role: ""
        },
        deletedItem: {
          id: "",
          firstName: "",
          lastName: "",
          email: "",
          teams: [],
          role: ""
        },
      }
    },
    created() {
      this.$store.dispatch('user/getLoggedInUser', {userId: JSON.parse(localStorage.getItem('user')).userId})
    },

    computed: {
      getLoggedInUser() {
        return this.$store.getters['user/getLoggedInUser']
      },
      getUsers() {
        return this.$store.getters['team/getUsers']
      },
      getTeams() {
        return this.$store.getters['team/getTeams']
      },
      isLoading() {
        return this.$store.getters['team/isLoading']
      }
    },

    methods: {
      showItem({ id }) {
        this.$router.push({ name: 'Details', params: { id } })
      },
      updateItem(item) {
        this.editedItem = Object.assign({}, item)
        this.dialogUpdateUser = true
      },
      deleteItem(item) {
        this.deletedItem = Object.assign({}, item)
        this.dialogDeleteUser = true
      },
      confirmRemoveUser() {
        this.$store.dispatch('team/removeTeamUser', this.getTeam.id, this.deletedItem.id)
        this.dialogDeleteUser = false
      },
      deleteTeamUser(teamId, userId) {
        console.log("teamId, userId", teamId, userId)
        this.$store.dispatch('team/deleteTeamUser', { teamId, userId })
      }
    }
  }
</script>

<style lang="scss" scoped></style>
