<template>
  <div>

    <!-- OPEN BUTTON -->
    <v-btn color="secondary" class="ma-2" large depressed @click="teamDialog = true">
      <v-icon left>mdi-settings-outline</v-icon>
      {{ btnText }}
    </v-btn>

    <!-- DIALOG -->
    <v-dialog v-model="teamDialog"
              color="secondary"
              fullscreen
              hide-overlay
              transition="dialog-bottom-transition"
              scrollable>
      <v-card tile>
        <v-toolbar flat dark color="primary">
          <!-- CLOSE -->
          <v-btn icon dark @click="closeDialog"><v-icon>mdi-close</v-icon></v-btn>
          <!-- TITLE -->
          <v-toolbar-title>Manage {{ getTeam.name }}</v-toolbar-title>
          <div class="flex-grow-1"></div>
          <!-- SAVE -->
          <v-toolbar-items>
            <v-btn dark text @click="saveDialog">Save</v-btn>
          </v-toolbar-items>
        </v-toolbar>

        <v-container>
          <v-row>
            <v-col cols="6">
              <v-text-field v-model="teamName" label="Team name"></v-text-field>
            </v-col>
          </v-row>
        </v-container>
        <div style="flex: 1 1 auto;"></div>
      </v-card>
    </v-dialog>

  </div>
</template>

<script>
  export default {
    name: "ManageTeamDialog",

    props: {
      btnText: {
        type: String,

      }
    },

    data: () => {
      return {
        teamDialog: false,
        teamName: null
      }
    },

    mounted() {
      this.teamName = this.getTeam.name
    },

    computed: {
      getTeam() {
        return this.$store.getters['team/getTeam']
      }
    },

    methods: {
      saveDialog() {
        this.$store.dispatch('team/updateTeam', { teamId: this.getTeam.id, teamName: this.teamName })
        this.teamDialog = false
      },
      closeDialog() {
        this.teamDialog = false
      },
    },

  }
</script>

<style lang="scss" scoped></style>
